
.back-button{
    display: flex;
    margin: 3vh;
  }
  
  img.back-button{
    max-height: 2.75vh;
    margin: auto;
  }
  
  .challenge-nav-text{
    padding-left: 1vh;
    font-size: 2em;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
  }
  
  .content-box{
    max-width: 80%;
    margin: auto;
    margin-top: 3vh;
  }
  
  .challenge-title{
    font-size: 8vh;
    color: black;
    padding: 2vh;
  }
  
  .challenge-container{
    display: flex;
    text-align: justify;
    border-left: 3px solid black;
  }
  
  .light-grey{
    color:#dbdbdb;
    font-size: 5vh;
    text-align: right;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .grey-bold-title{
    padding: 0 2vh 0 7vh;
  }
  
  .challenge-description{
    padding: 2vh 5vh 2vh 5vh;
  }
  
  .font-black{
    color:black;
  }
  
  .lowercase{
    text-transform: lowercase;
  }
  
  .outline{
    border-left: 2px solid #323232;
    padding-left: 2.5vh;
  }

  .data-button{
    display: inline-block;
    padding: 0.25vh 2vh;
    text-align: center;
    color: #323232;
    background: white; /* default color */
    border: 3px solid #dbdbdb ;

    /* "to left" / "to right" - affects initial color */
    background: linear-gradient(to left, white 50%, #dbdbdb 50%) right;
    background-size: 200%;
    transition: .25s ease-out;
    font-size: 2vh;
    margin: 2vh 0 0 0;
    float: right;
  }

.data-button:hover {
    background-position: left;
}


.process-box{
    margin-top: 10vh;
}

.topline{
    width: 100%;
    display: flex;
}


.bottomline{
    width: 100%;
    margin: 10vh 0 5vh 0;
}

.empty{
    padding:1vh
}

.type1{
    width: 70%
}

.type2{
    width: 30%;
    border-top: 3px solid black;
}

.type3{
    width: 80%
}

.type4{
    width: 20%;
    border-top: 2px solid #323232;
}

.type5{
    width: 90%
}

.type6{
    width: 10%;
    border-top: 1px solid #606060;
}

.process-title{
    writing-mode: vertical-lr;
    float: right;
    font-size: 6vh;
    text-orientation: upright;
    margin: 7vh -2vh 7vh 0;
}

.process-content{
    display: flex;
}

.process-description{
    width: 90%;
    margin-top: 10vh;
}

.process-title-box{
    width: 10%;
}

.final-img{
    max-width: 100%;
}
