.topline{
    width: 100%;
    display: flex;
}


.bottomline{
    width: 100%;
    margin: 5vh 0 2vh -10vh;
}

.empty-top{
    padding:1vh
}
.empty-bottom{
    padding:0.75vh
}

.type1{
    width: 70%
}

.type2{
    width: 30%;
    border-top: 3px solid black;
}

.type3{
    width: 80%
}

.type4{
    width: 20%;
    border-top: 2px solid #323232;
}

.type5{
    width: 90%
}

.type6{
    width: 10%;
    border-top: 1px solid #606060;
}

.type7{
  width: 5%;
  border-top: 1px solid #606060;
}

.type8{
    width: 2.5%;
    border-top: 1px solid #606060;
}

.type9{
    width: 1%;
    border-top: 1px solid #606060;
}

.type10{
    width: 15%;
    border-top: 1px solid #606060;
}

.type11{
    width: 25%;
    border-top: 1px solid #606060;
}